In [1]:
#import modules
import pandas  # for dataframes
import matplotlib.pyplot as plt # for plotting graphs
import seaborn as sns
# for plotting graphs % matplotlib inline
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.metrics import confusion_matrix

In [2]:
data=pandas.read_csv('class C.csv')

In [3]:
data.head()

,satisfaction_level,left,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary
0,0.67,0,0.70,3,149,3,0,0,support,low
1,0.67,0,0.70,3,149,3,0,0,support,low
2,0.71,0,0.50,4,253,3,0,0,RandD,medium
3,0.68,0,0.54,4,153,3,0,0,product_mng,medium
4,0.71,0,0.63,3,249,3,0,0,IT,low

In [4]:
data.tail()

,satisfaction_level,left,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary
7494,1.00,0,0.76,6,246,3,1,1,support,medium
7495,0.93,0,0.95,5,176,6,0,1,accounting,medium
7496,0.93,0,0.95,5,176,6,0,1,accounting,medium
7497,0.94,0,0.80,5,111,4,0,1,RandD,medium
7498,0.95,0,0.96,5,175,3,1,1,RandD,medium

In [5]:
# Import LabelEncoder
from sklearn import preprocessing
#creating labelEncoder
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.

data['Department']=le.fit_transform(data['Department'])
data['salary']=le.fit_transform(data['salary'])

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7499 entries, 0 to 7498
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     7499 non-null   float64
 1   left                   7499 non-null   int64
 2   last_evaluation        7499 non-null   float64
 3   number_project         7499 non-null   int64
 4   average_montly_hours   7499 non-null   int64
 5   time_spend_company     7499 non-null   int64
 6   Work_accident          7499 non-null   int64
 7   promotion_last_5years  7499 non-null   int64
 8   Department             7499 non-null   int32
 9   salary                 7499 non-null   int32
dtypes: float64(2), int32(2), int64(6)
memory usage: 527.4 KB

In [7]:
#Spliting data into Feature and
X=data[['satisfaction_level', 'last_evaluation', 'number_project',
       'number_project', 'average_montly_hours', 'time_spend_company', 'Work_accident', 'promotion_last_5years','Department','salary']]
y=data['left']

In [8]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)  # 70% training and 30% test

In [9]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)
#Predict the response for test dataset
y_pred = logmodel.predict(X_test)

C:\Users\asus\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [10]:
predictions = logmodel.predict(X_test)
print(classification_report(y_test, predictions))
confusion_matrix(y_test, predictions)

              precision    recall  f1-score   support

           0       0.94      0.96      0.95      1979
           1       0.67      0.54      0.60       271

    accuracy                           0.91      2250
   macro avg       0.81      0.75      0.77      2250
weighted avg       0.91      0.91      0.91      2250

array([[1909,   70],
       [ 126,  145]], dtype=int64)

In [11]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
# Model Precision
print("Precision:",metrics.precision_score(y_test, y_pred))
# Model Recall
print("Recall:",metrics.recall_score(y_test, y_pred))
# Model MCC
print("MCC:",metrics.matthews_corrcoef(y_test, y_pred))

Accuracy: 0.9128888888888889
Precision: 0.6744186046511628
Recall: 0.5350553505535055
MCC: 0.5532246294136433

In [12]:
predictions = logmodel.predict(X_test)
print(classification_report(y_test, predictions))
confusion_matrix(y_test, predictions)

              precision    recall  f1-score   support

           0       0.94      0.96      0.95      1979
           1       0.67      0.54      0.60       271

    accuracy                           0.91      2250
   macro avg       0.81      0.75      0.77      2250
weighted avg       0.91      0.91      0.91      2250

array([[1909,   70],
       [ 126,  145]], dtype=int64)