In [1]:
#import modules
import pandas  # for dataframes
import matplotlib.pyplot as plt # for plotting graphs
import seaborn as sns
# for plotting graphs % matplotlib inline
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.metrics import confusion_matrix

In [2]:
data=pandas.read_csv('class A.csv')

In [3]:
data.head()

,satisfaction_level,left,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary
0,0.14,0,0.43,2,238,3,0,0,hr,low
1,0.10,1,0.55,2,247,4,0,0,sales,medium
2,0.10,1,0.55,2,247,4,0,0,sales,medium
3,0.10,1,0.55,2,247,4,0,0,sales,medium
4,0.21,0,0.43,2,249,3,0,0,marketing,low

In [4]:
data.tail()

,satisfaction_level,left,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary
2995,0.31,0,0.63,4,104,7,1,0,sales,medium
2996,0.31,0,0.63,4,104,7,1,0,sales,medium
2997,0.47,0,0.46,2,152,2,0,0,IT,medium
2998,0.47,0,0.46,2,152,2,0,0,IT,medium
2999,0.11,1,0.86,6,279,4,0,0,support,medium

In [5]:
# Import LabelEncoder
from sklearn import preprocessing
#creating labelEncoder
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.

data['Department']=le.fit_transform(data['Department'])
data['salary']=le.fit_transform(data['salary'])

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     3000 non-null   float64
 1   left                   3000 non-null   int64
 2   last_evaluation        3000 non-null   float64
 3   number_project         3000 non-null   int64
 4   average_montly_hours   3000 non-null   int64
 5   time_spend_company     3000 non-null   int64
 6   Work_accident          3000 non-null   int64
 7   promotion_last_5years  3000 non-null   int64
 8   Department             3000 non-null   int32
 9   salary                 3000 non-null   int32
dtypes: float64(2), int32(2), int64(6)
memory usage: 211.1 KB

In [7]:
#Spliting data into Feature and
X=data[['satisfaction_level', 'last_evaluation', 'number_project',
       'number_project', 'average_montly_hours', 'time_spend_company', 'Work_accident', 'promotion_last_5years','Department','salary']]
y=data['left']

In [8]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)  # 70% training and 30% test

In [9]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)
#Predict the response for test dataset
y_pred = logmodel.predict(X_test)

In [10]:
predictions = logmodel.predict(X_test)
print(classification_report(y_test, predictions))
confusion_matrix(y_test, predictions)

              precision    recall  f1-score   support

           0       0.59      0.49      0.53       346
           1       0.71      0.79      0.75       554

    accuracy                           0.67       900
   macro avg       0.65      0.64      0.64       900
weighted avg       0.66      0.67      0.66       900

array([[168, 178],
       [118, 436]], dtype=int64)

In [11]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
# Model Precision
print("Precision:",metrics.precision_score(y_test, y_pred))
# Model Recall
print("Recall:",metrics.recall_score(y_test, y_pred))
# Model MCC
print("MCC:",metrics.matthews_corrcoef(y_test, y_pred))

Accuracy: 0.6711111111111111
Precision: 0.7100977198697068
Recall: 0.7870036101083032
MCC: 0.2847582313776128